<div class="home">
  <h1>Home</h1>
  <a href="/vendors">Vendors</a>
  <a href="/customers">Customers</a>
  <a href="/orders">Orders</a>
  <a href="/auth/register">Register User</a>
  <a href="/cuisines">cuisines</a>
  <a href="/customers">Customers</a>
  <a href="/customers">Customers</a>
  <a href="/customers">Customers</a>
  <a href="/customers">Customers</a>
  <a href="/customers">Customers</a>
  <a href="/customers">Customers</a>
  <a href="/customers">Customers</a>
  <a href="/customers">Customers</a>
  <a href="/customers">Customers</a>
  <a href="/customers">Customers</a>
  <a href="/customers">Customers</a>
  <a href="/customers">Customers</a>
  <a href="/customers">Customers</a>
  <p>say something</p>
</div>